#indexImageSlider
  // background:  red
  margin-top: 100vh
  margin-bottom: 100vh

  .imageSlideItem
    width: auto
    height: 100vh
    background-color: blue
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: 100%
    position: relative
