html, body
  overflow-x: hidden

#applvlHolder
  // background: red
  // width: 100%

#applvlHolder2
  // width: 100%
  // background: blue

#applvlHolder3
  // width: 100%

.applvlHolder
  float: left
  width: 100%
  position: absolute
  -webkit-transition: left 0.3s
  -moz-transition: left 0.3s
  transition: left 0.3s

.lvlActive1
  left: 0%

.lvlActiveThird1
  left: 0%

.lvlActive2
  left: 0%

.lvlActiveThird2
  left: 0%

.lvlActive3
  left: 0%

.lvlActiveThird3
  left: 0%

.lvlInactive1
  left: -100%

.lvlInactiveThird1
  left: -100%

.lvlInactive2
  left: 100%

.lvlInactiveThird2
  left: -100%

.lvlInactive3
  left: 100%

.lvlInactiveThird3
  left: 100%
